* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
}

/* color guide classes  */

header{
    background-color: yellow;
}

main{
    background-color: gray;
    height: 100vh;
}

footer{
    background-color: purple;
}


/* header control classes  */

#logo{
    margin:0;
    padding: 0;
}

.fixed, .second-nav {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}






li, a {
    list-style: none;
    display: inline;
    padding: 0.5em;
}




















/* content control classes  */

.header-container, .body-container, .footer-container { 
    max-width: 70em;
    /* max-width: 1080px; */
    margin: 0 auto; 
    background-color: orange;
}